﻿header {
    text-align:center;
    font-size:x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:blanchedalmond;
}

#indexBody {
    padding:50px 10px 50px 10px;
    background-color:beige;
    overflow-x:auto;
}

footer {
    text-align:center;
    padding:20px 20px 20px 20px;
    background-color:black;
    color:white;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;
}

tbody tr:hover {
    background-color:azure;
}

thead {
    height: 50px;
    text-align: center;
    font-weight:bold;
}

td {
    border: 1px solid grey;
}
