﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Vue Projekt</title>
    <script src="Scripts/vue.js"></script>
    <link href="Styles/IndexStyles.css" rel="stylesheet" />
</head>
<body>
    <header id="indexHeader">
        {{ message }}
    </header>

    <div id="indexBody">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>To Do By</td>
                    <td>To Do Created</td>
                    <td></td>
                </tr>
            </thead>
            <tbody v-for="todo in toDos">
                <tr>
                    <td>{{todo.name}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.toDoBy.toDateString()}}</td>
                    <td>{{todo.toDoCreated.toDateString()}}</td>
                    <td><felix v-bind:id="todo.id"></felix></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><input v-model="nameInput" /></td>
                    <td><textarea v-model="descriptionInput" multiple></textarea></td>
                    <td><input type="date" v-model="toDoBy" /></td>
                    <td><input type="date" v-model="toDoCreated" readonly="readonly" disabled="disabled" /></td>
                    <td><button v-on:click="addToDo">Add New</button></td>
                </tr>
            </tbody>
        </table>
        <button v-on:click="saveList">Save</button>
        <button v-on:click="loadToDOs">Load</button>
    </div>

    <footer id="indexFooter">
        {{ message }}
    </footer>

    <script src="Scripts/Header.js"></script>
    <script src="Scripts/Body.js"></script>
    <script src="Scripts/Footer.js"></script>
</body>
</html>